<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    <servlet>
        <servlet-name>C2Dice</servlet-name>
        <servlet-class>Ch2Dice</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>C2Dice</servlet-name>
        <url-pattern>/Dice</url-pattern>
    </servlet-mapping>
</web-app>